.my_height_700 {
    height: 700px;
}

.my_height_300 {
    height: 300px;
}

.my_bg_cyan       { background-color: #2c3e50; }
.my_bg_green      { background-color: #1abc9c; }
.my_bg_light_cyan { background-color: #3a546d; }